@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
    --primary-color: #ffcc00;
    --secondary-color: #0f0326;
    --headshot-size: 200px;
}

::selection,
.contact {
    color: white;
    background-color: var(--primary-color);
}

* {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer {
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    background-color: rgba(255, 204, 0, 0.1);
}

.introduction {
    max-width: 1200px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 1.5em;
}

.headshot {
    border-radius: 50%;
    width: var(--headshot-size);
    height: var(--headshot-size);
    shape-outside: circle(50%);
    align-self: center;
}

p:first-of-type {
    margin-top: 0;
}

p:first-of-type::first-letter {
    font-size: 3em;
    font-weight: 600;
    color: var(--primary-color);
}

.skill {
    font-weight: 600;
    color: var(--secondary-color);
}

.skill:before {
    content: "#";
    color: var(--primary-color);
}

.contact {
    max-width: 1200px;
    width: 100vw;
    padding: 0.5em 1.5em;
}

.contact-links {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 1.5em;
}

a:hover {
    text-decoration: underline white;
}

@media (min-width: 700px) {
    * {
        font-size: 24px;
    }

    .introduction {
        display: block;
    }

    .headshot {
        margin: 1em 1em 0.5em 0;
        float: left;
    }

    .contact-links {
        flex-direction: row;
    }
}
